@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.contact-info {
    border: 1px solid #585858;
    background-color: #585858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-end-store {
    padding-left: 100px;
    flex: 1 1 20%;
}

.logo-end-store img {
    width: 101px;
    height: 138px;
}

.address-and-kvk {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    flex: 1 1 30%;
    padding: 15px;
}

.mail {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    flex: 1 1 30%;
    padding: 15px;
}

.social {
    padding-right: 100px;
    flex: 1 1 20%;
}

.social-icons {
    width: 40px;
    padding: 0px 10px 0px 10px;
}