@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.info-about-partners {
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}
.logo-partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.partners-MI {
    max-width: 322px;
    height: auto;
}

.partners-fond-ua {
    max-width: 140px;
    height: auto;
}

.partners-vastrecht {
    max-width: 233px;
    height: auto;
}
