@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



body {
    margin: 0;
    height: 100%;
  }

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    padding-right: 30px;
}

.button-nav {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    font-size: 18px;
    padding: 20px;
}

.button-nav:focus {
    color: #0066CB;
}

.button-nav:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color:#0066CB;
}

.button-nav-donate {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #0066CB;
    border-radius: 5px;
    font-size: 18px;
}

.logo img {
    margin-top: 12px;
    margin-left: 50px;
    width: 160px;
    height: 140px;
    border-radius: 10px; 
    position: absolute;
    top: 0;
    left: 0;
} 

