@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.events {
    min-height: 624px;
    display: flex;
    align-items: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

.event {
    flex: 1 1 50%;
    margin-left: 200px;
    margin-right: 100px;
}

.events p {
    margin: 0px;
}

.name-events {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: white;
    
}

.date-events {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white;
    
    padding-top: 50px;
}

.info-events {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;
    padding-top: 50px;
}

.donate-now {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #0066CB;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-donate {
    padding-top: 50px;
}

