@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.contact-info {
    border: 1px solid #585858;
    background-color: #585858;
    height: 202px;
    display: flex;
    flex-direction: row;
}

.logo-end-store {
    width: 101px;
    height: 138px;
    margin-left: 100px;
    margin-top: 32px;
}

.address-and-kvk {
    margin-left: 150px;
    margin-top: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.mail {
    margin-left: 150px;
    margin-top: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
}

.social {
    margin: auto;
}
.social-icons {
    width: 40px;
    padding: 0px 10px 0px 10px;
}