@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.main-stats {
    border: 1px solid #0066CB;
    background-color: #0066CB;
    display: flex;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    padding: 20px;
}

.stats-numbers {
    font-size: 55px;
    margin: 0px;
}

.total-money, .total-events, .total-dinners {
    margin: auto;
}



