@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* Carusel block 1 */
.slider {
    position: relative;
    padding: 0px 150px;
}

.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;
    align-items: flex-start;
}

.slick-slide img{
    height: 300px;
    margin: 20px;
    border-radius: 20px;
}

.slick-slide:focus img { 
    height: 500px;
    
}

.slick-arrow{
    position: absolute;
    top: 50%;
    font-size: 0;
    width: 40px;
    height: 40px;
    margin: -30px 50px 0px 50px;
}


.slick-arrow.slick-prev{
    left: 0;
    background: url('../img/previous.png') 0 0 / 100% no-repeat;
    border: none;
    margin-left: 80px;
}

.slick-arrow.slick-next{
    right: 0;
    background: url('../img/next.png') 0 0 / 100% no-repeat;
    border: none;
    margin-right: 80px;
}

.title-exhebition {
    margin-top: 100px;
    padding-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-right: 30px;
}

@media (max-width: 1005px) {
    .slick-slide img{
        height: 250px;
    }
    .slick-arrow.slick-prev{
        margin-left: 60px;
    }
    
    .slick-arrow.slick-next{
        margin-right: 60px;
    }
}
@media (max-width: 915px) {
    .title-exhebition {
        font-size: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 875px) {
    .slider {
        padding: 0px 100px;
    }
    .slick-slide img{
        height: 200px;
    }
    .slick-arrow.slick-prev{
        margin-left: 40px;
    }
    
    .slick-arrow.slick-next{
        margin-right: 40px;
    }
}
@media (max-width: 687px) {
    .slider {
        padding: 0px 60px;
    }
    .slick-slide img{
        height: 150px;
    }
    .slick-arrow.slick-prev{
        margin-left: 20px;
    }
    
    .slick-arrow.slick-next{
        margin-right: 20px;
    }
}
@media (max-width: 620px) {
    .title-exhebition {
        font-size: 25px;
        padding-right: 30px;
    }
}
@media (max-width: 490px) {
    .slider {
        padding: 0px 60px;
    }
    .slick-slide img{
        height: 100px;
        border-radius: 10px;
    }
    .slick-arrow.slick-prev{
        margin-left: 20px;
    }
    
    .slick-arrow.slick-next{
        margin-right: 20px;
    }
}
@media (max-width: 395px) {
    .title-exhebition {
        font-size: 20px;
        padding-right: 30px;
    }
}

/* video Block */



.title-concert {
    margin-top: 70px;
    padding-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-right: 30px;
}

@media (max-width: 915px) {
    .title-concert {
        font-size: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 620px) {
    .title-concert {
        font-size: 25px;
        padding-right: 30px;
    }
}

@media (max-width: 395px) {
    .title-concert {
        font-size: 20px;
        padding-right: 30px;
    }
}

/* Carusel Block 2 */

.photo-garden {
    padding-bottom: 50px;
}

.title-garden {
    margin-top: 70px;
    padding-left: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 40px;
    padding-right: 30px;
}


@media (max-width: 915px) {
    .title-garden {
        font-size: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 620px) {
    .title-garden {
        font-size: 25px;
        padding-right: 30px;
    }
}

@media (max-width: 395px) {
    .title-garden {
        font-size: 20px;
        padding-right: 30px;
    }
}