@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* Events Block */


.carusel-product {
    display: flex;
}

.events {
    min-height: 624px;
    display: flex;
    align-items: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    flex: 0 0 100%;
    max-width: 100%;
}

.event {
    flex: 1 1 50%;
    margin-left: 250px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.events p {
    margin: 0px;
}

.name-events {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: white;
    
}

.date-events {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white;
    
    padding-top: 50px;
}

.info-events {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;
    padding-top: 50px;
}

.donate-now {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #0066CB;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.button-donate {
    padding-top: 50px;
}

.dueties {
    display: flex;
    justify-content: flex-end;
    margin-top: -150px;
    padding-left: 340px;
    padding-right: 100px;
} 

.dueties img {
    display: inline-block;
    max-width: 200px;
    height: auto;
    width: 33%;
}

@media (max-width: 880px) {
    .events {
        min-height: 500px;
    }
    .event {
        margin-left: 200px;
    }
    .name-events {
        font-size: 25px;
    }
    
    .date-events {
        font-size: 25px;
        padding-top: 20px;
    }
    
    .info-events {
        font-size: 18px;
        padding-top: 20px;
    }
}

@media (max-width: 880px) {
    .events {
        min-height: 400px;
    }
    .dueties {
        padding-left: 200px;
    }
}

@media (max-width: 718px) {
    .events {
        min-height: 350px;
    }
    .event {
        margin-left: 180px;
    }
    .name-events {
        font-size: 20px;
    }
    
    .date-events {
        font-size: 20px;
        padding-top: 10px;
    }
    
    .info-events {
        font-size: 14px;
        padding-top: 10px;
    }
    .donate-now {
        font-size: 15px;
    }
    .dueties {
        padding-left: 160px;
    }
}

@media (max-width: 674px) {
    .event {
        margin-bottom: 120px;
    }
}

@media (max-width: 588px) {
    .events {
        min-height: 250px;
    }
    .event {
        margin-left: 150px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    .name-events {
        font-size: 15px;
    }
    
    .date-events {
        font-size: 15px;
        padding-top: 10px;
    }
    
    .info-events {
        font-size: 8px;
        padding-top: 10px;
    }
    .donate-now {
        font-size: 15px;
    }
    .dueties {
        margin-top: -100px;
        padding-left: 160px;
    }
}

@media (max-width: 431px) {
    .events {
        min-height: 200px;
        padding-bottom: 0px;
    }
    .event {
        margin-left: 80px;
        margin-right: 30px;
        margin-bottom: 80px;
    }
    .name-events {
        font-size: 13px;
    }
    
    .date-events {
        font-size: 13px;
        padding-top: 5px;
    }
    
    .info-events {
        font-size: 9px;
        padding-top: 5px;
    }
    .donate-now {
        font-size: 12px;
    }

    .button-donate {
        padding-top: 30px;
    }

    .dueties {
        margin-top: -80px;
        padding-left: 150px;
        padding-right: 30px;
    }
}
/* button carusel */


.button-previous-click, .button-next-click {
    border: 0px;
    background-color: white;
}


.button-next-click img, .button-previous-click img {
    max-width: 40px;
}


/* Creators  Block */

.main-info {
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    padding: 0 100px 100px;
}

.title-creators {
    font-size: 40px;
}

.creators {
    font-size: 18px;
    padding-right: 200px;
}

.photo-creators img {
    max-width: 388px;
    height: auto;
    border-radius: 20px;
    margin-top: 100px;
}


@media (max-width: 1130px) {
    .main-info {
        text-align: center;
    }
    .photo-creators img {
        max-width: 300px;
    }
    .creators {
        font-size: 16px;
        padding-right: 150px;
    }
}

@media (max-width: 946px) {
    .photo-creators img {
        max-width: 250px;
    }
    .creators {
        font-size: 14px;
        padding-right: 100px;
    }
}

@media (max-width: 769px) {
    .photo-creators img {
        max-width: 200px;
    }
    .creators {
        font-size: 12px;
        padding-right: 50px;
    }
}

@media (max-width: 629px) {
    .title-creators {
        font-size: 30px;
    }
    .main-info {
        flex-direction: column-reverse;
        padding: 0 0 100px;
    }
    .photo-creators img {
        max-width: 388px;
        margin-top: 50px;
    }
    .creators {
        font-size: 16px;
        padding: 0 50px 0;
    }
}

@media (max-width: 498px) {
    .title-creators {
        font-size: 20px;
    }
    .photo-creators img {
        max-width: 250px;
    }
    .creators {
        font-size: 14px;
    }
}

/* Stats Block */

.main-stats {
    border: 1px solid #0066CB;
    background-color: #0066CB;
    display: flex;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    padding: 20px;
}

.stats-numbers {
    font-size: 55px;
    margin: 0px;
}

.total-money, .total-events, .total-dinners {
    margin: auto;
    width: 100%;
}

@media (max-width: 680px) {
    .stats-numbers {
        font-size: 30px;
    }
    .total-money, .total-events, .total-dinners {
        font-size: 10px;
    }
}

/* Partners Block */

.info-about-partners {
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.title-partners {
    font-size: 40px;
    text-align: center;
}

.logo-partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.partners-MI {
    max-width: 322px;
    height: auto;
}

.partners-fond-ua {
    max-width: 140px;
    height: auto;
}

.partners-vastrecht {
    max-width: 233px;
    height: auto;
}

@media (max-width: 1047px) {
    .info-about-partners {
        margin-left: 80px;
        margin-right: 80px;
    }
    .partners-MI {
        max-width: 270px;
    }
    
    .partners-fond-ua {
        max-width: 140px;
    }
    
    .partners-vastrecht {
        max-width: 180px;
    }
}

@media (max-width: 833px) {
    .title-partners {
        font-size: 20px;
    }
    .info-about-partners {
        margin-left: 60px;
        margin-right: 60px;
    }
    .partners-MI {
        max-width: 200px;
    }
    
    .partners-fond-ua {
        max-width: 100px;
    }
    .partners-vastrecht {
        max-width: 130px;
    }
}

@media (max-width: 619px) {
    .info-about-partners {
        margin-left: 40px;
        margin-right: 40px;
    }
    .partners-MI {
        max-width: 140px;
    }
    
    .partners-fond-ua {
        max-width: 70px;
    }
    .partners-vastrecht {
        max-width: 90px;
    }
}

@media (max-width: 515px) {
    .info-about-partners {
        margin-left: 40px;
        margin-right: 40px;
    }
    .partners-MI {
        max-width: 100px;
    }
    
    .partners-fond-ua {
        max-width: 70px;
    }
    .partners-vastrecht {
        max-width: 70px;
    }
}